/* #region fonts */

@font-face {
    font-family: Rochester;
    src: url(assets/fonts/Rochester-Regular.ttf);
}
@font-face {
    font-family: Diphylleia;
    src: url(assets/fonts/Diphylleia-Regular.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(assets/fonts/Rubik-VariableFont.ttf);
}

/*#endregion*/

/* #region animations */

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

/*#endregion*/

/* #region alap stílus */
header{
    height: 60px;
    text-align: end;
    position:absolute;
}

nav{
    height: 70px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#home{
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    padding-top: 60px;
}

#homecenter{
    font-family: "Rochester", cursive;
    font-weight: 400;
    color: #D27F78;
}

.launch-time{
    display: flex;
    justify-content: center;
}

.launch-time div{
    font-family: Diphylleia;
    color: white;
    background: #D27F78;
}

.launch-time div p{
    margin-bottom: -2.0vw; 
    width: 100%; 
}

.launch-time div span{
    margin-bottom: -1.4vw; 
    width: 100%; 
}

.timeframe{
    border: dashed 2px white;
    margin: 5px;
}

.ring-container{
    display: inline;
    text-align: center;
}

.ring{
    background-color: #D27F78;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 0.5vw;
}

.ring-circle{
    display: inline-block;
    border-radius: 50%;
    border: dashed 2px white;
}

.ringicon{
    margin-top: 2vw;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: inline-block;
}

body{
    margin: 0;
    text-align: center;
    background-color: #fbc5b8;
}
html{
    scroll-behavior: smooth;
}

#us{
    min-height: 100vh;
}
#locations{
    min-height: 100vh;
}
#gallery{
    min-height: 100vh;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

.descLocation{
    display: inline-flex;
    font-family: Rubik;
}

/*#endregion*/

@media only screen and (max-width: 767px) {
    .nav-container .hamburger {
        display: inline;
        background: none;
        border: solid 2px #fff;
        border-radius: 50%;
        padding: 1vw 1vw;
        font-size: 8vw;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999; /* Ensure it appears above other elements */
    }

    .nav-container .links {
        display: none;
        animation: none;
        z-index: 999;
    }
    header{
        width: 95vw;
    }
    nav{
        width: 95vw;
    }
    #home{
        background-image: url('assets/images/iphone11-size.jpg');
        background-size: contain;
    }
    #homecenter{
        font-size: 10vw;
    }
    .launch-time{
        margin-top: 2vh;
    }
    .launch-time div{
        flex-basis: 22vw;
    }
    .launch-time div p{
        font-size: 10vw; 
    }
    
    .launch-time div span{
        margin-bottom: -1.4vw; 
        width: 100%; 
    }
    
    .ring{
        height: 22vw;
        width: 22vw;
        margin-top: 20vh;
        margin-bottom: 2vh;
    }
    
    .ring-circle{
        margin: 1px;
        height: 20vw;
        width: 20vw;
        display: inline-block;
        border-radius: 50%;
        border: dashed 2px white;
    }
    
    .ringicon{
        width: 16vw;
        height: 16vw;
    }
    .linkNav{
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.0rem;
        background: #D27F78;
        width: 60vw;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    
.glass{
    width: 78vw;
    height: 90vw;
    margin: 5vw 10vw;
}

.location{
    margin-top: 3vw;
}

.wedding-location{
    width: 66vw;
    margin: 6vw;
}

.location-image{
    width: 66vw;
    border-radius: 20px;
}

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .nav-container .hamburger {
        display: inline;
        background: none;
        border: solid 2px #fff;
        border-radius: 50%;
        padding: 1vw 1vw;
        font-size: 8vw;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999; /* Ensure it appears above other elements */
    }

    .nav-container .links {
        display: none;
        animation: none;
        z-index: 999;
    }
    header{
        width: 95vw;
    }
    nav{
        width: 95vw;
    }
    #home{
        background-image: url('assets/images/Tablet-Home.jpg');
        background-size:contain;
    }
    #homecenter{
        font-size: 10vw;
    }
    .launch-time{
        margin-top: 2vh;
    }
    .launch-time div{
        flex-basis: 22vw;
    }
    .launch-time div p{
        font-size: 10vw;
    }
    
    .launch-time div span{
        margin-bottom: -1.4vw; 
        width: 100%; 
    }
    
    .ring{
        height: 22vw;
        width: 22vw;
        margin-top: 20vh;
        margin-bottom: 2vh;
    }
    
    .ring-circle{
        margin: 0.5vw;
        height: 20vw;
        width: 20vw;
        display: inline-block;
        border-radius: 50%;
        border: dashed 2px white;
    }
    
    .ringicon{
        width: 16vw;
        height: 16vw;
    }

    .linkNav{
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.0rem;
        background: #D27F78;
        width: 60vw;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    
.glass{
    width: 52vw;
    height: 60vw;
    margin: 3vw;
}

.location{
    margin-top: 3vw;
}

.wedding-location{
    width: 44vw;
    margin: 4vw;
}

.location-image{
    width: 44vw;
    border-radius: 20px;
}

}

@media only screen and (min-width: 1024px) {
    .nav-container .hamburger {
        display: none;
    }
    .nav-container .links {
        display:inline;
    }
    header{
        width: 90vw;
    }
    nav{
        width: 90vw;
    }
    #home{
        background-image: url('assets/images/valami2.jpg');
        background-size:cover;
    }
    #homecenter{
        font-size: 5vw;
    }

    .launch-time div{
        flex-basis: 12vw;
    }
    .launch-time div p{
        font-size: 5vw;
    }
    
    .launch-time div span{ 
        font-size: 2vw;
    }
    
    .ring{
        height: 13vw;
        width: 13vw;
    }
    
    .ring-circle{
        height: 12vw;
        width: 12vw;
        display: inline-block;
        border-radius: 50%;
        border: dashed 2px white;
    }
    
    .ringicon{
        width: 8vw;
        height: 8vw;
    }
    
.linkNav{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #555555;
    font-size: 18px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 20px 20px 0px 20px;
}

.linkNav:after{
    content: "";
    position: absolute;
    background-color: #D27F78;
    height: 3px;
    width: 0;
    left: 20%;
    bottom: -10px;
    transition: 0.3s;
}

.linkNav:hover{
    color: #ffffff;
}

.linkNav:hover:after{
    width: 60%;

}


.glass{
    width: 26vw;
    height: 30vw;
    margin: 3vw;
}

.location{
    margin-top: 3vw;
}

.wedding-location{
    width: 22vw;
    margin: 2vw;
}

.location-image{
    width: 22vw;
    border-radius: 20px;
}
}

/* #region gallery */

/*css slider*/

.slider{
    height: 100vh;
    margin-top: 0px;
    position: relative;
}

.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
    color: #eee;
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2{
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3){
    animation-delay: 1.3s;
}

.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover{
    background-color: #eee;
    color: black;
}

.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar{
    width: 0;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active{
    filter: brightness(1.5);
}

.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
    color: #eee
}

@media screen and (max-width: 1023px){
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top:10%;
    }
}

/*#endregion*/

.photoUs img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}