/* #region fonts */

@font-face {
    font-family: Rochester;
    src: url(assets/fonts/Rochester-Regular.ttf);
}
@font-face {
    font-family: Diphylleia;
    src: url(assets/fonts/Diphylleia-Regular.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(assets/fonts/Rubik-VariableFont.ttf);
}
@font-face {
    font-family: Nautigal;
    src: url(assets/fonts/TheNautigal-Regular.ttf);
}
@font-face {
    font-family: Libre-Bold;
    src: url(assets/fonts/LibreBaskerville-Bold.ttf);
}
@font-face {
    font-family: Libre-Regular;
    src: url(assets/fonts/LibreBaskerville-Regular.ttf);
}

/*#endregion*/

/* #region animations */

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

/*#endregion*/

/* #region alap stílus */
header{
    height: 60px;
    text-align: end;
    position:absolute;
}

nav{
    height: 70px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#home{
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    padding-top: 60px;
}

#homecenter{
    font-family: "Rochester", cursive;
    font-weight: 400;
    color: #D27F78;
}

.launch-time{
    display: flex;
    justify-content: center;
}

.launch-time div{
    font-family: Diphylleia;
    color: white;
    background: #D27F78;
}

.launch-time div p{
    margin-bottom: -2.0vw; 
    width: 100%; 
}

.launch-time div span{
    margin-bottom: -1.4vw; 
    width: 100%; 
}

.timeframe{
    border: dashed 2px white;
    margin: 5px;
}

.ring-container{
    display: inline;
    text-align: center;
}

.ring{
    background-color: #D27F78;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 0.5vw;
}

.ring-circle{
    display: inline-block;
    border-radius: 50%;
    border: dashed 2px white;
}

.ringicon{
    margin-top: 2vw;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: inline-block;
}

body{
    margin: 0;
    text-align: center;
    background-color: #fbc5b8;
}
html{
    scroll-behavior: smooth;
}

/*kezdetek*/

.bubble-container {
    position: relative;
    width: 40%;
    height: 100vh;
    overflow: hidden;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 1s ease-in-out; /* Simított animáció */
    transform-origin: center; /* Méretezés középpontja */
}

.bubble-container.left-bubbles {
    justify-content: flex-start;
}

.bubble-container.right-bubbles {
    justify-content: end;
}
.headerUs{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.2vw;
    height: 60px;
}
.nameHeaderUs{
    font-family: 'Diphylleia';
    letter-spacing: 0.5px;
    position: absolute;
    left: 315px;
    font-size: 40px;
}

/*kezdetek*/

#us{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#gallery,
#seats,
#locations{
    min-height: 100vh;
}
#photoLink{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 2.3vh;
    color: #6b6b6b;
    font-family: 'Libre-Regular';
    flex-direction: column;
}

.downloadPng{
    display: flex;
    justify-content: center;
    width: 75vw;
}

#seatsForMobile{
    display: none;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 2vh;
    color: #6b6b6b;
    font-family: 'Libre-Regular';
    flex-direction: column;
}

.downloadHeader{
    color: black;
}

.headlineDiv,
.searchDiv{
    height: 10vh;
    font-family: 'Libre-Regular', Arial, Helvetica, sans-serif;
}
.seatAllocationDiv{
    height: 80vh;
    display: flex;
    justify-content: space-around;
}

.headlineDiv{
    font-size: 3vw;
    font-weight: bold;
}

.seatAllocation{
    width: 25vw;
    height: 80vh;
}

.seatAllocationHead{
    width: 25vw;
    height: 6vh;
    font-family: 'Nautigal';
    font-size: 5vh;
    margin-bottom: 1vh;
}

.tableAndSeat{
    width: 25vw;
    height: 72vh;
    display: flex;
    justify-content: space-between;
}

.seatRow{
    width: 3vw;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.seat{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #D9D9D9;
    border-radius: 3vw;
    font-size: 1vw;
    font-family: 'Diphylleia', Arial, Helvetica, sans-serif;
}
.seat:hover{
    background-color: #fff;
}

.table{
    width: 17vw;
    height: 72vh;
    background-color: #D9D9D9;
}

#searchBar{
    margin-top: 1vh;
    width: 34vw;
    height: 8vh;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Libre-Regular', Arial, Helvetica, sans-serif;
}

#searchBar::placeholder {
    text-align: center;
    font-size: 3vh;
}

#searchBar {
    text-align: center;
    font-size: 3vh;
}

#searchBar::-webkit-input-placeholder {
font-family: 'Diphylleia', Arial, Helvetica, sans-serif;
}

#searchBar:-ms-input-placeholder {
font-family: 'Diphylleia', Arial, Helvetica, sans-serif;
}

#searchBar:-moz-placeholder {
font-family: 'Diphylleia', Arial, Helvetica, sans-serif;
}

#searchBar::-moz-placeholder {
font-family: 'Diphylleia', Arial, Helvetica, sans-serif;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

.forBride,
.forGroom,
.forFriends{
    display: none;
    color: white;
    font-family: 'Libre-Regular', Arial, Helvetica, sans-serif;
}

.links,
#home,
#locations,
#us,
#gallery,
.headlineDiv,
.seatAllocationDiv
{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}





*,
*:before,
*:after {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

.descLocation{
    display: inline-flex;
    margin-bottom: 2vh;
}

/*Slider css*/

#slider-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    display: none;
    max-width: 100%;
    max-height: 100%;
}

.slide.active {
    display: block;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

/*Slider css*/

/*#endregion*/

@media only screen and (max-width: 767px) {
    .nav-container .hamburger {
        display: inline;
        background: none;
        border: solid 2px #fff;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        padding: 1vw 1vw;
        font-size: 8vw;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999; /* Ensure it appears above other elements */
    }

    #linkClose3{
        display: none;
    }
    #linkClose4{
        display: inline-block;
    }

    .nav-container .links {
        display: none;
        animation: none;
        z-index: 999;
    }
    header{
        width: 95vw;
    }
    nav{
        width: 95vw;
    }
    #home{
        background-image: url('assets/images/iphone11-size.jpg');
        background-size: contain;
    }
    #homecenter{
        font-size: 10vw;
    }
    .launch-time{
        margin-top: 2vh;
    }
    .launch-time div{
        flex-basis: 22vw;
    }
    .launch-time div p{
        font-size: 10vw; 
    }
    
    .launch-time div span{
        margin-bottom: -1.4vw; 
        width: 100%; 
    }
    
    .ring{
        height: 22vw;
        width: 22vw;
        margin-top: 20vh;
        margin-bottom: 2vh;
    }
    
    .ring-circle{
        margin: 1px;
        height: 20vw;
        width: 20vw;
        display: inline-block;
        border-radius: 50%;
        border: dashed 2px white;
    }
    
    .ringicon{
        width: 16vw;
        height: 16vw;
    }
    .linkNav{
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.0rem;
        background: #D27F78;
        width: 60vw;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 10px;
        font-family: 'Diphylleia';
    }

    
.glass{
    width: 78vw;
    height: 90vw;
    margin: 5vw 10vw;
}

.location{
    font-family: 'Diphylleia';
    margin-top: 3vw;
}

.wedding-location{
    width: 66vw;
    margin: 6vw;
}

.location-image{
    width: 66vw;
    border-radius: 20px;
}

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .nav-container .hamburger {
        display: inline;
        background: none;
        border: solid 2px #fff;
        border-radius: 50%;
        padding: 1vw 1vw;
        font-size: 8vw;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999; /* Ensure it appears above other elements */
    }

    #linkClose3{
        display: none;
    }
    #linkClose4{
        display: inline-block;
    }

    .nav-container .links {
        display: none;
        animation: none;
        z-index: 999;
    }
    header{
        width: 95vw;
    }
    nav{
        width: 95vw;
    }
    #home{
        background-image: url('assets/images/Tablet-Home.jpg');
        background-size:contain;
    }
    #homecenter{
        font-size: 10vw;
    }
    .launch-time{
        margin-top: 2vh;
    }
    .launch-time div{
        flex-basis: 22vw;
    }
    .launch-time div p{
        font-size: 10vw;
    }
    
    .launch-time div span{
        margin-bottom: -1.4vw; 
        width: 100%; 
    }
    
    .ring{
        height: 22vw;
        width: 22vw;
        margin-top: 20vh;
        margin-bottom: 2vh;
    }
    
    .ring-circle{
        margin: 0.5vw;
        height: 20vw;
        width: 20vw;
        display: inline-block;
        border-radius: 50%;
        border: dashed 2px white;
    }
    
    .ringicon{
        width: 16vw;
        height: 16vw;
    }

    .linkNav{
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.0rem;
        background: #D27F78;
        width: 60vw;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 10px;
        font-family: 'Diphylleia';
    }
    
.glass{
    width: 52vw;
    height: 60vw;
    margin: 3vw;
}

.location{
    font-family: 'Diphylleia';
    margin-top: 3vw;
}

.wedding-location{
    width: 44vw;
    margin: 4vw;
}

.location-image{
    width: 44vw;
    border-radius: 20px;
}

}

@media only screen and (min-width: 1024px) {
    .nav-container .hamburger {
        display: none;
    }

    #linkClose3{
        display: none;
    }
    #linkClose4{
        display: inline-block;
    }

    .nav-container .links {
        display:inline;
    }
    header{
        width: 90vw;
    }
    nav{
        width: 95vw;
    }
    #home{
        background-image: url('assets/images/valami2.jpg');
        background-size:cover;
    }
    #homecenter{
        font-size: 5vw;
    }

    .launch-time div{
        flex-basis: 12vw;
    }
    .launch-time div p{
        font-size: 5vw;
    }
    
    .launch-time div span{ 
        font-size: 2vw;
    }
    
    .ring{
        height: 13vw;
        width: 13vw;
    }
    
    .ring-circle{
        height: 12vw;
        width: 12vw;
        display: inline-block;
        border-radius: 50%;
        border: dashed 2px white;
    }
    
    .ringicon{
        width: 8vw;
        height: 8vw;
    }
    
.linkNav{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    border: 3px solid #D27F78;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: 'Diphylleia';
}
.linkNav:hover{
    color: #D27F78;
}

.glass{
    width: 26vw;
    height: 30vw;
    margin: 3vw;
}

.location{
    font-family: 'Diphylleia';
    font-size: 3vw;
    margin-top: 3vw;
}

.wedding-location{
    width: 22vw;
    margin: 2vw;
}

.location-image{
    width: 22vw;
    border-radius: 20px;
}

}

@media only screen and (min-width: 1350px){
    #linkClose3{
        display: inline-block;
    }
    #linkClose4{
        display: none;
    }
}